.control{
  margin-top: 1rem;
  padding: 1rem 1rem 2rem 1rem;
}

.base-info{
  padding-top: 1rem;
}

.business-information tbody th{
  background-color: #F2F9FC;
}
.button-control{
  //margin-top: 1rem;
  margin: 1rem auto 0 auto;
}
.card-overrite{
  margin-bottom: 1.5rem;
}
