<div class="container bg-white" style="margin-top: 1.5rem;">
  <div class="row">
    <div>
      <img class="company-img" src="http://placehold.it/100x100">
    </div>
    <div class="col-10 company-infos">
      <ul class="nav-overrite">
        <li class="nav-item-overrite">
          <h4>小米科技有限责任公司</h4>
        </li>
        <li class="nav-item-overrite">
          <span>电话：010-60606666-1000</span>
        </li>
        <li class="nav-item-overrite">
          <span>邮箱：</span>
          <a class="nav-link-overrite">chenchongwei@xiaomi.com</a>
        </li>
        <li class="nav-item-overrite">
          <span>官网： </span>
          <a class="nav-link-overrite">www.xiaomi.com</a>
        </li>
        <li class="nav-item-overrite">
          <span>地址：</span>
          <a class="nav-link-overrite">北京市海淀区清河中街68号华润五彩城购物中心二期13层</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-base-infos></app-base-infos>
