<div class="container bg-white" style="margin-top: 1.5rem;">
  <div class="row">
    <div>
      <img class="company-img" src="http://placehold.it/100x100">
    </div>
    <div class="col-10 company-infos">
      <ul class="nav-overrite">
        <li class="nav-item-overrite">
          <h4>小米科技有限责任公司</h4>
        </li>
        <li class="nav-item-overrite">
          <span>电话：010-60606666-1000</span>
        </li>
        <li class="nav-item-overrite">
          <span>邮箱：</span>
          <a class="nav-link-overrite">chenchongwei@xiaomi.com</a>
        </li>
        <li class="nav-item-overrite">
          <span>官网： </span>
          <a class="nav-link-overrite">www.xiaomi.com</a>
        </li>
        <li class="nav-item-overrite">
          <span>地址：</span>
          <a class="nav-link-overrite">北京市海淀区清河中街68号华润五彩城购物中心二期13层</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container control">
  <div class="row">
    <div class="col-9 bg-white">
      <div class="base-info">
        <h4>工商信息</h4>
        <table class="table table-bordered business-information">
          <tbody>
          <tr>
            <th scope="row">实缴资本：</th>
            <td>185000万人民币元</td>
            <th>注册资本：</th>
            <td>5000万人民币元</td>
          </tr>
          <tr>
            <th scope="row">经营状态：</th>
            <td>开业</td>
            <th>成立日期：</th>
            <td>2010-03-03</td>
          </tr>
          <tr>
            <th scope="row">统一社会信用代码：</th>
            <td>91110108551385082Q</td>
            <th scope="row">纳税人识别号：</th>
            <td>91110108551385082Q</td>
          </tr>
          <tr>
            <th scope="row">注册号：</th>
            <td>110108012660422</td>
            <th>组织机构代码：</th>
            <td>55138508-2</td>
          </tr>
          <tr>
            <th scope="row">公司类型：</th>
            <td>有限责任公司(自然人投资或控股)</td>
            <th>所属行业：</th>
            <td>科学研究和技术服务业</td>
          </tr>
          <tr>
            <th scope="row">核准日期：</th>
            <td>2018-05-09</td>
            <th>登记机关：</th>
            <td>北京市工商行政管理局海淀分局</td>
          </tr>
          <tr>
            <th scope="row">所属地区：</th>
            <td>北京市</td>
            <th>英文名：</th>
            <td>Xiaomi Inc.</td>
          </tr>
          <tr>
            <th scope="row">曾用名：</th>
            <td>北京小米科技有限责任公司  </td>
            <th>经营方式：</th>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">企业地址：</th>
            <td colspan="3">北京市海淀区清河中街68号华润五彩城购物中心二期13层</td>
          </tr>
          <tr>
            <th scope="row">经营范围：</th>
            <td colspan="3">技术开发;货物进出口、技术进出口、</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="base-info">
        <h4>股东信息</h4>
        <table class="table table-bordered Shareholder-information">
          <thead>
          <tr>
            <th>序号</th>
            <th>股东</th>
            <th>持股比例</th>
            <th>认缴出资额（万元）</th>
            <th>认缴出资日期</th>
            <th>股东类型</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td scope="row">1</td>
            <td>雷军</td>
            <td>77.8022%</td>
            <td>143934.047800 </td>
            <td>-</td>
            <td>自然人股东</td>
          </tr>
          <tr>
            <td scope="row">2</td>
            <td>黎万强</td>
            <td>10.1213%</td>
            <td>18724.356900</td>
            <td>-</td>
            <td>自然人股东</td>
          </tr>
          <tr>
            <td scope="row">3</td>
            <td>黎万强</td>
            <td>10.1213%</td>
            <td>18724.356900</td>
            <td>-</td>
            <td>自然人股东</td>
          </tr>
          <tr>
            <td scope="row">4</td>
            <td>黎万强</td>
            <td>10.1213%</td>
            <td>18724.356900</td>
            <td>-</td>
            <td>自然人股东</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-overrite">
        <div class="card-header">股权结构图</div>
        <div class="card-body">
          <img class="card-img-top" src="http://placehold.it/200x100" alt="Card image" style="width:100%">
          <div class="text-center">
            <button class="btn btn-primary button-control">查看投资族谱</button>
          </div>
        </div>
      </div>
      <div class="card card-overrite">
        <div class="card-header">投资族谱图</div>
        <div class="card-body">
          <img class="card-img-top" src="http://placehold.it/200x100" alt="Card image" style="width:100%">
          <div class="text-center">
            <button class="btn btn-primary button-control">查看股权结构</button>
          </div>
        </div>
      </div>
      <div class="card card-overrite">
        <div class="card-header">股权结构图</div>
        <div class="card-body">
          <img class="card-img-top" src="http://placehold.it/200x100" alt="Card image" style="width:100%">
          <div class="text-center">
            <button class="btn btn-primary button-control" routerLink="../enterprise">查看股权结构</button>
          </div>
        </div>
      </div>
      <div class="card card-overrite">
        <div class="card-header">疑似关系图</div>
        <div class="card-body">
          <img class="card-img-top" src="http://placehold.it/200x100" alt="Card image" style="width:100%">
          <div class="text-center">
            <button class="btn btn-primary button-control">查看疑似关系</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
